<div class="col s6 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Name: <%= student.name %> </span>
        <p>Email: <%= student.email %> </p>
        <p>Course enrollments: None</p>
      </div>
      <% unless request.path == student_path(student) %>
        <div class="card-action">
          <%= link_to "View profile", student %>
        </div>
      <% end %>
    </div>
  </div>