<div class="row">
  <div class="col s12">
    <h3 class="center-align">Course listing</h3>
  </div>
</div>

<%= link_to "<i class='material-icons left'>add</i>Add new course".html_safe, courses_new_path, class: " btn-large waves-effect waves-light green" %>
<small>(for demo purposes only)</small>
<div class="row">
  <%= render @courses %>  
</div>
