@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  margin-bottom: 20px;
}

main {
  flex: 1 0 auto;
  margin-bottom: 20px !important;
}

.sign-up-form{
  padding-top: 30px;
}

.overflow-hidden{
  overflow: hidden;
}

nav .brand-logo {
  @media screen and (max-width: 768px){
    font-size: 1.5rem;
  }
}