<% if logged_in? %>
    <li><%= link_to "Logout", logout_path, method: :delete %></li>
    <li><%= link_to "View your profile", current_user %></li>
  <% else %>
    <li><%= link_to "Login", login_path %></li>
    <li><%= link_to "Sign up", new_student_path %> </li>
  <% end %>